.emptyBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 28px;
    font-weight: bold;
}

.codeBlock {
    background-color: #f0f0f0;
    height: calc(100vh - 120px);
    margin: 52px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 8px;
    border: 3px solid #bbbbbb;

}
